[submodule "Pivnich/vendor/spdlog"]
	path = Pivnich/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Pivnich/vendor/glfw"]
	path = Pivnich/vendor/glfw
	url = https://github.com/glfw/glfw
